.noDataComponent {
  background-color: rgb(5, 193, 133);
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.noDataComponent p {
  font-size: 18px;
  line-height: 1.6;
}
